{% extends "@LouvresTicketing/layout.html.twig" %}

{% block title %}
    Louvre - Contact
{% endblock %}

{% block scriptHead %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block body %}
    <section id="features">
        <div class="container">
            {% for message in app.flashes('notice') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="flash-error">
                    {{ message }}
                </div>
            {% endfor %}

            <article class="box post">
                <header>
                    <h2>Nous contacter</h2>
                </header>

                <div class="well">
                    {{ form_start(form) }}

                    {{ form_widget(form) }}

                    <div class="g-recaptcha" data-sitekey="{{ apiPublic }}"></div>

                    <button type="submit">Envoyer</button>

                    {{ form_end(form) }}
                </div>
            </article>
        </div>
    </section>
{% endblock %}